$charcoal: rgb(58, 75, 86);
$naples-yellow: rgb(255, 226, 111);
$deep-saffron: rgb(251, 150, 63);
$yellow-green: #9ccc4bff;
$june-bud: #d1e16fff;
$maya-blue: rgb(122, 194, 237);
$azure-x-11-web-color: #e6f8fcff;
