/* SCSS HEX
$black: #000000ff;
$charcoal: #3a4b56ff;
$naples-yellow: #ffe26fff;
$deep-saffron: #fb963fff;
$yellow-green: #9ccc4bff;
$june-bud: #d1e16fff;
$maya-blue: #7ac2edff;
$azure-x-11-web-color: #e6f8fcff;
*/
